.hero-section {
  width: 100%;
  height: 100vh;
  background: url('../../assets/bg.jpg') no-repeat center center/cover;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10%;
}


.hero-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;

}

.hero-title span { color: yellowgreen; } 

.hero-btn {
  background: #6a994e;
  color: white;
  padding: 15px 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.brew{
  color: white;
 
}
.hero-content {
  max-width: 500px;
}
@media (max-width: 768px) {
  .hero-overlay {
    padding: 0 5%;
    align-items: center;
    text-align: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .brew {
    margin: 15px 0;
    font-size: 14px;
  }

  .hero-btn {
    margin-top: 15px;
  }
}
