.navbar {
  width: 100%;
  height: 80px;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
background-color: black;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.navbar-logo img {
  height: 45px;
}

/* LINKS (DESKTOP) */
.navbar-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: #7ed957;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 900px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .navbar-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);

    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;

    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content h1 {
    font-size: 38px;
    line-height: 1.2;
  }

  .hero-content p {
    margin: 15px auto;
    max-width: 90%;
    font-size: 14px;
  }

  .hero-btn {
    margin: 20px auto 0;
    display: block;
  }

  .hero-image {
    margin-bottom: 25px;
  }

  .hero-image img {
    max-width: 280px;
  }
}
